.bg{
    background-image: url(gohan.jpg);
    background-size: cover;
}


.mtop100{
    margin-top: 100px;
}
.bx{
    background-color:cornflowerblue;
    padding: 20px 40px;
    border-radius: 5%;
    border: 2px ridge yellow;
}

/* CSS HOME */
.contain{
    height: 100vh;
}
/* .judul{
    color: black;
} */
.spasi{
    margin-right: 10px;
}